
.commentsPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  
  .buttonLink {
    text-decoration: none;
  }
  
  .button {
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #007bff;
    color: #fff;
  }
  
  .registerButton {
    background-color: #28a745; 
    margin-left: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  